services:
  db:
    image: mysql:8.4.2
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - network

  api:
    image: {{ deploy_backend_image_name }}:{{ deploy_backend_image_tag }}
    container_name: api
    restart: on-failure
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/${MYSQL_DATABASE}
      SPRING_DATASOURCE_USERNAME: ${MYSQL_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_PROFILES_ACTIVE: ${ENV_NAME}
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - vault_logs:/kanghouchao/logs
    networks:
      - network

  web:
    image: {{ deploy_frontend_image_name }}:{{ deploy_frontend_image_tag }}
    container_name: web
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api
    networks:
      - network

volumes:
  mysql_data:
  vault_logs:

networks:
  network:
    driver: bridge
